body {
    user-select: none;
  }
  
  .lockpick-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
  }
  
  .lockpick-iframe {
    width: 70%;
    height: 70vh;
    border: none;
    user-select: none;
  }
  